@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    transition: 0.3s;
}
*::selection
{
  color: #888;
}
body
{
    background: var(--white);
    background-image: url(/assets/image/silvester.jpg);
    background-size: cover;
}
i
{
    position: absolute;
    height: 200px;
    top: -200px;
    background: linear-gradient(transparent, #fff);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    animation: silvester 5s linear infinite;
    z-index: -3;
}
i:nth-child(3n+1)
{
    background: linear-gradient(transparent, #0ff);

}
i:nth-child(3n+2)
{
    background: linear-gradient(transparent, #0f0);

}
i:nth-child(3n+3)
{
    background: linear-gradient(transparent, #f00);

}
@keyframes silvester
{
    0%
    {
        transform: translateY(-200px);
    }
    100%
    {
        transform: translateY(calc(100vh + 200px));
    }
}
.center
{
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
    transform: translateX(-400px);
}
.heiligabend
{
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-size: 5em;
    transform: translateX(-40px);
}
#clock
{
    display: flex;
    width: 300px;
    margin: 0 auto;
    transform: translateX(-40px);
}
#clock div
{
    position: relative;
    width: 570px;
    padding: 10px;
    margin: 0 5px;
    background: #262626;
    color: #fff;
    border: 2px solid #000;
}
#clock div:last-child
{
    background: #00fe78;
}
#clock div:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255,255,255,.2);
}
#clock div span
{
    display: block;
    text-align: center;
}
#clock div span:nth-child(1)
{
    font-size: 30px;
    font-weight: 800;
}
#clock div span:nth-child(2)
{
    font-size: 10px;
    font-weight: 800;
    margin-top: -10px;
}
/* .dreieck
{
  position: absolute;
  width: 1000px;
  height: 1000px;
  background: var(--white);
  left: 25%;
  top: -20px;
  clip-path: polygon(0 0, 0 100%, 100% 100%);
  z-index: -2;
}
.überdeckung
{
  position: absolute;
  width: 100px;
  height: 100px;
  background: var(--white);
  left: 280px;
  z-index: -2;
}
.diagonale
{
  position: absolute;
  width: 10px;
  height: 1800px;
  background: black;
  filter: blur(20px);
  transform: rotate(-45deg) translateY(25px) translateX(900px);
  z-index: -100;
} */
h1
{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 3.5em;
  font-weight: 100;
  color: var(--black);
}
.buttons
{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  margin-top: 100px;
  flex-direction: column;
}
.buttons a
{
  position: relative;
  width: 160px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
  font-size: 0.9em;
}
.buttons a::before,
.buttons a::after
{
  content: '';
  position: absolute;
  background: #f00;
  inset: 0;
  transition: 0.5s;
}
.buttons a:hover::before
{
  inset: -3px;
}
.buttons a:hover::after
{
  inset: -3px;
  filter: blur(10px);
}
.buttons a:nth-child(1):before,
.buttons a:nth-child(1):after
{
  color: #000;
}
.buttons a:nth-child(2):before,
.buttons a:nth-child(2):after
{
  background: linear-gradient(45deg, red, #0e1538,#0e1538,#a7f9ff);
}
.buttons a:nth-child(4):before,
.buttons a:nth-child(4):after
{
  background: linear-gradient(45deg, #00ccff, #0e1538,#0e1538,#d400d4);
}
.buttons a:nth-child(5):before,
.buttons a:nth-child(5):after
{
  background: linear-gradient(45deg, #ff075b, #0e1538,#0e1538,#1aff22);
}
.buttons a:nth-child(6):before,
.buttons a:nth-child(6):after
{
  background: linear-gradient(45deg, #fffb00, #0e1538,#0e1538,#5900ff);
}
.buttons a:nth-child(7):before,
.buttons a:nth-child(7):after
{
  background: linear-gradient(45deg, #1aff22, #0e1538,#0e1538,#00ccff);
}
.buttons a:nth-child(9):before,
.buttons a:nth-child(9):after
{
  background: linear-gradient(45deg, #0408ce, #0e1538,#0e1538,#da5926);
}

.buttons a span
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  background: #0e1528;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden;
}
.buttons a span::before
{
  content: '';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.075);
  transform: skew(25deg);
}
/* .schnee
{
  display: flex;
  justify-content: center;
  margin-top: -200px;
}
.schnee .flocke
{
  width: 100px;
  animation: schnee 5s linear infinite;
  animation-delay: calc(1s * var(--i));
}
@keyframes schnee
{
  0%
  {
    transform: translateY(0);
  }
  30%
  {
    transform: translateY(400px);
  }
  100%
  {
    transform: translateY(1100px);
  }
} */
.überschriften
{
  color: #fff;
}
.überschriften2
{
  color: #000;
}
.postkarte
{
  position: absolute;
  top: 400px;
  right: 300px;
  z-index: -1;
}
.postkarte .container
{
  width: 400px;
  height: 250px;
  background: #f8da99;
  transform: rotate(-35deg);
  filter: drop-shadow(0 20px 5px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.postkarte .container .danke
{
  font-size: 2.5em;
  color: #131313b2;
  font-family: 'Dancing Script', cursive;
  user-select: none;
}
:root
{
  --white: #eeeeee;
  --white2: #e6e6e6;
  --black: #000;
}
.dark
{
  --white: #123;
  --white2: #001623;
  --black: #eeeeee;
}
footer
{
  height: 50px;
  width: 100%;
  background: #001623;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #00fe78;
}
/* 
.container
{
  background: var(--white2);
  width: 200px;
  height: 100px;
  margin: 20px;
  border-radius: 50px;
  box-shadow: inset 0 0 15px rgba(0,0,0,0.5);
}
.container .kreis
{
  width: 100px;
  height: 100px;
  background: var(--white);
  border-radius: 50%;
  transform: scale(0.75);
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.container .kreis:active
{
  box-shadow: 0 5px 5px rgba(0,0,0,0.2),
              inset 0 -5px 5px rgba(0,0,0,0.7),
              inset 0 2px 5px rgba(0,0,0,0.9);
}
.dark .container .kreis
{
  margin-left: 50%;
}
.container::after
{
  content: 'Switch to Darkmode';
  display: flex;
  justify-content: center;
  color: var(--black);
  font-size: 1.3em;
}
.dark .container::after
{
  content: 'Switch to Lightmode';
}
.container .kreis::before
{
  content: '\f185';
  font-family: fontAwesome;
  font-size: 4em;
  color: var(--black);
  color: #ffff00;
  filter: drop-shadow(0 0 20px #ff0) drop-shadow(0 0 40px #ff0);
}
.dark .container .kreis::before
{
  content: '\f186';
  color: #b4f0ff;
  filter: drop-shadow(0 0 20px #b4f0ff) drop-shadow(0 0 40px #b4f0ff);
} */