@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
    transition: 0.3s;
}
:root
{
    --Gelb: #ff0;
    --schwarz: #000;
}
.dark
{
    --Gelb: #f0f;
    --schwarz: #0ff;
}
*::selection
{
    background: var(--Gelb);
    color: var(--schwarz);
}
body
{
    background: var(--white);
}
.container
{
    display: block;
    margin-left: 500px;
}
.counter
{
    display: flex;
}
.counter h2,
.counter p
{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.counter h2
{
    font-size: 3.5em;
    color: #ffd000;
}
.counter p
{
    font-size: 1.3em;
}
::-webkit-scrollbar
{
    scrollbar-width: none;
}
