@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
    transition: 0.3s;
}
:root
{
    --Gelb: #ff0;
    --schwarz: #000;
}
.dark
{
    --Gelb: #f0f;
    --schwarz: #0ff;
}
*::selection
{
    background: var(--Gelb);
    color: var(--schwarz);
}
body
{
    background: var(--white);
}
